{% extends 'base.html.twig' %}

{% block title %}Zoo - Liste des familles{% endblock %}

{% block superTitre %}Liste des familles{% endblock %}
{% block body %}
    <div class="container">
        {% for famille in familles %}
            <h2 class="mt-3 mb-3 border-bottom border-dark text-center pb-2"><a href="{{path('display_famille', {'id' : famille.id })}}">{{ famille.libelle|capitalize }}</a></h2>
            <div class="mb-2"><span class="font-weight-bold">Description : </span><br>{{ famille.description }}</div>
            <div class="row">
                {% for animal in famille.animaux %}
                    <div class="col-2">
                        <img class="w-100" src="{{ asset('assets/images/' ~ animal.image)}}" alt="{{animal.nom}}">
                    </div>
                    <div class="col">
                        <h2><a href="{{path('display_animal', {'id' : animal.id})}}">{{animal.nom|capitalize}}</a></h2>
                        <div>{{animal.description}}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
